@charset "utf-8";
/*

0. CSS Reset & Clearfix
1. Common Classes

*/



/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
} /* Hide from IE Mac \*/
.clearfix {
	display: block;
} /* End hide from IE Mac */
.none {
	display: none;
} /* End Clearfix */

/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

@font-face {
/* If you are using Font Face, put them here. and create multiple copies of this instance if you have more than one custom fonts  */
  
}
/* Common */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444444;
	line-height:20px;
	padding:0px;
	margin:0px;
	overflow-x:hidden;
	background:#FFFFFF url(../images/green-fibers.png);
}
/* links */
a:link, a:visited, a:active {
	color:#3ac3cb;
	text-decoration:underline;
}
a:hover {
	color:#3ac3cb;
	text-decoration:none;
}
.blue-link:link, .blue-link:visited, .blue-link:active {
	color:#3ac3cb;
	text-decoration:none;
	font-weight:bold;
}
.blue-link:hover {
	color:#444444;
	text-decoration:none;
	font-weight:bold;
}
.clear {
	clear: both;
	content: '.';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* CONTAINER
------------------------------------------------------*/

#container {
	margin:0px auto;
	width:980px;
}
/* HEADER
------------------------------------------------------*/
#header-container {
	width:940px;
	padding:20px;
	float:left;
	border-bottom:5px solid #d6eaeb;
	background-color:#fff;
	margin-top:20px;
}
@font-face {
font-family: Bebas Neue;
src: url('BebasNeue.otf');
}
h1 {
	font-family: Bebas Neue;
	font-size:50px;
	font-weight:normal;
	letter-spacing:1px;
}
h1 .blue {
	color:#3ac3cb;
}
h1 .grey {
	color:#404042;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9375em;
	color:#404042;
	font-size:15px;
	text-align:center;
	font-weight:bold;
	text-shadow:1px 1px 0px #ffffff;
}
h3 {
	font-family: Bebas Neue;
	font-size:30px;
	font-weight:normal;
	color:#404042;
	letter-spacing:0px;
}
.name {
	width:313px;
	float:left;
	border-right:2px solid #d6eaeb;
	padding:5px 0px 0px 0px;
	line-height:40px;
}
.designation {
	width:235px;
	float:left;
	border-right:2px solid #d6eaeb;
	line-height:40px;
	padding:5px 50px 0px 50px;
}
.employment {
	width:237px;
	float:right;
	padding:0px 0px 0px 50px; 
}
.employment .box {
	width:100%;
	float:right;
	padding:10px 0px 12px 0px;
	background-color:#d6eaeb; 
	line-height:22.5px;
	
}
/* RESUME SECTION
------------------------------------------------------*/
.maincontent {
	width:940px;
	padding:24px 20px 0px 20px;
	float:left;
	margin-bottom:20px;
	background-color:#fff;
	border:0px solid #1f1f1f;
	border-top:0px;
}
/* LEFT CONTENT START
------------------------------------------------------*/

.leftcontent {
	width:263px;
	height:auto;
	float:left;
	border-right:2px solid #d6eaeb;
	padding:12px 50px 0px 0px;
	line-height:20px;
}
.intro {
	width:100%;
	height:auto;
}
.social-bar {
	width:100%;
	height:auto;
}
.social-bar ul {
	padding:18px 0px 0px 1px;
}
.social-bar ul li {
	display:inline;
	padding:0px 10px 0px 0px;
}
.contact-button{padding:0px !important;}
.contct-info {
	width:100%;
	height:auto;
	padding:18px 0px 0px 0px;
}
.left-row1 {
	width:100%;
	height:auto;
	border-bottom:2px solid #d6eaeb;
	padding:36px 0px 6px 0px;
	float:left;
}
.left-row2 {
	width:100%;
	height:auto;
	padding:18px 0px 0px 0px;
	line-height:20px;
	float:left;
}
.left-row2-col1 {
	width:40%;
	height:auto;
	float:left;
}
.left-row2-col2 {
	width:60%;
	height:auto;
	float:right;
}

/* Skills Bar */

.skills-bars {
	width:100%;
	height:6px;
	background-color:#3ac3cb;
	margin:14px 0px 0px 0px;
}
.skills-bars.first{margin-top:9px;}

.photoshop   { width:98%;  -moz-animation:photoshop 2s ease-out;   -webkit-animation:photoshop 2s ease-out;   }
.dreamweaver { width:100%; -moz-animation:dreamweaver 2s ease-out; -webkit-animation:dreamweaver 2s ease-out; }
.html5       { width:70%;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;       }
.css3        { width:90%;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;        }
.jquery  { width:70%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }
.illustrator  { width:85%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }
.flash  { width:90%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }

@-moz-keyframes photoshop   { 0%  { width:0px;} 100%{ width:98%;}  }
@-moz-keyframes dreamweaver { 0%  { width:0px;} 100%{ width:100%;} }
@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes illustrator      { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes flash      { 0%  { width:0px;} 100%{ width:90%;}  }

@-webkit-keyframes photoshop   { 0%  { width:0px;} 100%{ width:98%;}  }
@-webkit-keyframes dreamweaver { 0%  { width:0px;} 100%{ width:100%;} }
@-webkit-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes illustrator      { 0%  { width:0px;} 100%{ width:85%;}  }
@-webkit-keyframes flash      { 0%  { width:0px;} 100%{ width:90%;}  }


.left-row2-col1 ul li {
	font-weight:bold;
}
.left-row2-col2 ul li {
	font-weight:normal;
}
/* LEFT CONTENT END
------------------------------------------------------*/

/* RIGHT CONTENT START
------------------------------------------------------*/
.rightcontent {
	width:573px;
	float:right;
	padding:12px 0px 0px 50px;
	line-height:20px;
}
.color-blue {
	color:#3ac3cb;
}
.right-row1 {
	width:100%;
	height:auto;
	border-bottom:2px solid #d6eaeb;
	padding:6px 0px 6px 0px;
	float:left;
}
.right-row2 {
	width:100%;
	height:auto;
	padding:18px 0px 36px 0px;
	line-height:20px;
	float:left;
}
.right-row2-col1 {
	width:30%;
	height:auto;
	font-weight:bold;
	float:left;
}
.right-row2-col2 {
	width:70%;
	height:auto;
	float:right;
}
.right-row3 {
	width:100%;
	height:auto;
	padding:0px 0px 36px 0px;
	line-height:20px;
	float:left;
}
/* RIGHT CONTENT END
------------------------------------------------------*/


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}


/* Contact Form */

#contact-form {
}
#contact-form td {
	padding:5px 0px;
}
#form_errors {
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:12px;
	color:red;
	width:200px;
}
#contact-form label {
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:12px;
}
#contact-form input[type=text], #contact-form textarea {
	display:inline-block;
	outline:0 none;
	height:32px;
	width:180px;
	margin:0;
	padding:8px 10px;
	overflow:hidden;
	border:1px solid;
	font:9pt/100% Arial, Helvetica, sans-serif;
	color:#777;
	text-shadow:1px 1px 0px #fff;
	text-overflow:ellipsis;
	white-space:nowrap;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#f5f5f5;
	background:-moz-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f5f5f5));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f5f5f5', GradientType=0);
	border-color:#ccc;
	-moz-box-shadow:0px 0px 1px #fff inset;
	-webkit-box-shadow:0px 0px 1px #fff inset;
	box-shadow:0px 0px 1px #fff inset;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.grey-gloss {
	color:#666;
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #f7f7f7, #e1e1e1 50%, #d6d6d6 51%, #b8b8b8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(.5, #e1e1e1), color-stop(.5, #d6d6d6), to(#b8b8b8));
	/*text-shadow*/
	text-shadow: 0 1px 0px #f6f6f6;
	/*Box Shadow*/
	-moz-box-shadow: 0px -1px 0px #fafafa, 0px 1px 0px #9a9a9a, 0px 3px 3px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0px -1px 0px #fafafa, 0px 1px 0px #9a9a9a, 0px 3px 3px rgba(0, 0, 0, .25);
	box-shadow: 0px -1px 0px #fafafa, 0px 1px 0px #9a9a9a, 0px 3px 3px rgba(0, 0, 0, .25);
}
.grey-gloss:hover {
	color:#606060;
	background: #c8c8c8;
	background: -moz-linear-gradient(top, #ebebeb, #d0d0d0 50%, #c6c6c6 51%, #a3a3a3);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(.5, #d0d0d0), color-stop(.5, #c6c6c6), to(#a3a3a3));
	text-shadow: 0 1px 0px #f0f0f0;
}
.grey-gloss:active {
	color:#999;
	background: #b8b8b8;
	background: -moz-linear-gradient(top, #d6d6d6, #bebebe 50%, #b7b7b7 51%, #9e9e9e);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(.5, #bebebe), color-stop(.5, #b7b7b7), to(#9e9e9e));
	/*text-shadow*/
	text-shadow: 0 1px 0px #cacaca;
	/*Box Shadow*/
	-moz-box-shadow: 0px -1px 0px #999, 0px 1px 0px #e2e2e2, 0px 3px 3px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px -1px 0px #999, 0px 1px 0px #e2e2e2, 0px 3px 3px rgba(0, 0, 0, 0);
	box-shadow: 0px -1px 0px #999, 0px 1px 0px #e2e2e2, 0px 3px 3px rgba(0, 0, 0, 0);
}
.button {
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0 4px;
	padding: 9px 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: none;
	outline: none;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: bottom;
	zoom: 1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}
/* Email Sent Notification */


.success {
	font-family:Tahoma, Arial;
	font-size:12px;
	position:absolute;
	margin:30px 0px 0px 400px;
	background-color: #ecffaa;
	background-image: url("../images/accept.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 1px solid #c4de6c;
	border-radius: 4px 4px 4px 4px;
	clear: both;
	cursor: pointer;
	line-height: 40px;
	height: 40px;
	padding: 10px 20px 10px 60px;
	width:600px;
}




/* Footer */

.footer{color:#fff; font-size:11px; margin-bottom:20px;}
.footer:after{clear:both;}



